.Rproj.user
.Rhistory
.RData
.Ruserdata
webanno123export.zip
bib.bib
readme.Rmd
extracted
xmi2list.R
/tests/testthat/demo-143012171067474989292562.zip
/tests/testthat/annotation/
/tests/testthat/demo-project/annotations_ser
/tests/testthat/demo-project/log/
/tests/testthat/demo-project/event.log
/tests/testthat/demo-project/exportedproject.json
/tests/testthat/demo-project/annotation_ser/
/tests/testthat/demo-project/annotation/test_document.txt/INITIAL_CAS.zip